{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center mb-3">VM Snapshots</h3>

    <table id="query_7_table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Snapshot ID</th>
            <th>VM ID</th>
            <th>Snapshot Name</th>
            <th>Snapshot Description</th>
            <th>Snapshot Timestamp</th>
        </tr>
        </thead>
        <tbody>
        {% for latest_snapshot in result %}
        <tr>
            <td>{{ latest_snapshot.snapshot_id }}</td>
            <td>{{ latest_snapshot.vm_id }}</td>
            <td>{{ latest_snapshot.snapshot_name }}</td>
            <td>{{ latest_snapshot.snapshot_description }}</td>
            <td>{{ latest_snapshot.snapshot_timestamp }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}