{% extends "layout.html" %}

{% block content %}
<a class="btn btn-danger" type="button" href="{{ url_for('run_query_1') }}">Select Running VMs with Hardware
    Configurations</a>
<!--<button onclick="{{ url_for('run_query_1') }}">Select Running VMs with Hardware Configurations</button>-->
<!--<button onclick="{{ url_for('run_query_2') }}">Insert New Network Configuration</button>-->
<!--<button onclick="{{ url_for('run_query_3') }}">Update VM Description</button>-->
<!--<button onclick="{{ url_for('run_query_4') }}">Delete Storage Configuration</button>-->
<!--<button onclick="{{ url_for('run_query_5') }}">Select VMs with Logs</button>-->
<!--<button onclick="{{ url_for('run_query_6') }}">Update Storage Capacity</button>-->
<!--<button onclick="{{ url_for('run_query_7') }}">Select Latest Snapshots</button>-->
<!--<button onclick="{{ url_for('run_query_8') }}">Insert New Snapshot</button>-->
{% endblock %}